Repository BatchDrake/sigutils, pull requests merged in 2023-09, with the labels that each got.

#72 Update to coverxygen 1.8.1 report format
  .github/labeler.yml
  .github/workflows/doc.yml
  doc/CMakeLists.txt
Labels: build_system, ci, documentation

#73 Delete unused TID macro
  src/include/sigutils/util/util.h
Labels: sigutils

#76 Optimize FFT calculations
  src/CMakeLists.txt
  src/include/sigutils/sigutils.h
  src/sigutils/detect.c
  src/sigutils/lib.c
  src/sigutils/smoothpsd.c
  src/sigutils/specific/apt.c
  src/sigutils/specttuner.c
Labels: build_system, sigutils

#81 Merge master into develop
  .github/dependabot.yml
Labels: sigutils, documentation, tests

#83 smoothpsd: optimize loops with volk
  src/sigutils/smoothpsd.c
Labels: sigutils, documentation, tests
